<footer id="footer" class="section-bg">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>ASTRA LUNA</h3>
          <div class="row">
            <div class="col-sm-4">
              <div class="footer-info">
                <div class="footer-links">
                  <h4>Przydatne linki</h4>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="footer-links">
                <h4>Kontakt</h4>
                <p style="color: white">
                  Szkoła Tańca “Astra-Luna“
                  Wałcz<br>
                  <strong>Tel:</strong> (+48) 784 015 402<br>
                  <strong>Email:</strong> astrawalcz@gmail.com<br>
                  <strong>Instruktor tańca:</strong> Danuta Antosz (+48) 784 015 402<br><br>
                  <a style="color: white" href="http://www.astra.szczecin.pl" target="_blank" rel="noopener">www.astra.szczecin.pl</a><br>
                  <a style="color: white" href="http://www.alfa-astra.stargard.pl" target="_blank" rel="noopener">www.alfa-astra.stargard.pl</a><br>
                  <a style="color: white" href="http://www.taniec.pl" target="_blank" rel="noopener">Polskie Towarzystwo Taneczne</a><br>
                  <a style="color: white" href="http://www.twist.home.pl" target="_blank" rel="noopener">Twist Service</a>
                   </p>
                
              </div>
              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form">
                <h4>KONTAKT</h4>
                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Imie i Nazwisko"
                      data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                      data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Temat"
                      data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required"
                      data-msg="Please write something for us" placeholder="Treść wiadomości"></textarea>
                    <div class="validation"></div>
                  </div>
                  <div id="sendmessage">Your message has been sent. Thank you!</div>
                  <div id="errormessage"></div>
                  <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>