<li class="eventItem">
    <div class="time">
        <span class="day">{{Event.datetime.day.day}}</span>
        <span class="month">{{Event.datetime.day.month}}</span>
        <span class="year">{{Event.datetime.day.year}}</span>
    </div>
    <img *ngIf="false" alt="Independence Day" src={{eventItem.imageSrc}} />
    <div class="info">
        <h2 class="title">{{Event.name}} </h2>

        <li class="eventInfo">
            <span>
                <div class="city">
                    <fa size="2x" class="icon" name="map-marker" style="color: #000;"></fa>
                    <h5>{{Event.place}} </h5>
                </div>
            </span>
            <span>
                <div class="city">
                    <fa size="2x" class="icon" name="clock-o" style="color: #000;"></fa>
                    <h5>{{Event.datetime.time}}</h5>
                </div>
            </span>
        </li>
        <p class="desc">{{Event.desc}}</p>
    </div>

</li>