<section id="team" class="top">
    <div class="container">
        <header class="section-header" style="text-align: center">
            <h3>Trenerzy</h3>
        </header>
        <div class="row">
            <div *ngFor="let trainer of trainers; let i = index" class="col-lg-3 col-md-6 wow fadeInUp" data-aos="fade-up" style="visibility: visible; animation-name: fadeInUp;" data-aos-duration="500" [attr.data-aos-delay]="i*100">
                <div class="member">
                    <img src="{{trainer.smallbackgroundString}}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <a (click)="GoToTeam(trainer.id)">
                                <h4>{{trainer.fullname}}</h4>
                            </a>
                            <span>{{trainer.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>