<section id="team" class="alw-section" [ngClass]="{ 'front':onFront , 'alw-shadow':isShadow}">
    <div class="container" data-aos="fade-right">
        <header class="section-header">
            <h1>Trenerzy</h1>
        </header>
    </div>
    <div class="container">
        <app-spinnerloading *ngIf="showSpinner" style="margin: auto;"></app-spinnerloading>
        <div class="row" *ngIf="!showSpinner">
            <div *ngFor="let trainer of trainers; let i = index" class="col-lg-3 col-md-6 wow fadeInUp" data-aos="fade-up" style="visibility: visible; animation-name: fadeInUp;" data-aos-duration="500" [attr.data-aos-delay]="i*100">
                <div class="member">
                    <img src="{{trainer.smallbackgroundString}}" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <a (click)="GoToTeam(trainer.id)">
                                <h4>{{trainer.fullname}}</h4>
                            </a>
                            <span>{{trainer.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>