h3 {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    color: #333;
}

.section-header {
    display: inline-block;
}

.section-header:before,
.section-header:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #121517;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    margin-top: 2px;
}

.section-header:after {
    background-color: #ff5555;
    margin: 1em auto;
    margin-top: -1.5px;
}

#galleryDetails {
    margin-top: 70px;
    padding: 1em;
    min-height: 100vh;
}

@media (max-width: 992px) {
    #galleryDetails {
        margin-top: 16vh;
        min-height: 88vh;
    }
    .section-header>h1 {
        font-size: 24px;
    }
}

@media (max-width: 575px) {
    .section-header>h1 {
        font-size: 20px;
    }
}

.grid-item {
    width: 25%;
}

.grid-item img {
    width: 100%;
}

.date_city * {
    display: inline;
}

.icon {
    margin-right: 5px;
}

h4,
h5 {
    text-align: left;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}