h3 {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    color: #333;
}

.section-header {
    display: inline-block;
}

.section-header:before,
.section-header:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #121517;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    margin-top: 2px;
}

.section-header:after {
    background-color: #ff5555;
    margin: 1em auto;
    margin-top: -1.5px;
}

#galleryDetails {
    margin-top: 70px;
    padding: 1em;
    min-height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.date_city * {
    display: inline;
}

.icon {
    margin-right: 5px;
}

h4,
h5 {
    text-align: left;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}