<section id="galleryDetails" class="alw-section">
    <div class="container" data-aos="fade-right">
        <header class="section-header">
            <h1>{{GalleryName}}</h1>
        </header>
    </div>
    <div class="container">
        <app-spinnerloading *ngIf="showSpinner" style="margin: auto;"></app-spinnerloading>

        <div *ngIf="!showSpinner" class="card-columns">
            <div class="card" *ngFor="let item of galleryDetailsList; let i = index ;" style="min-height: 100px; min-width: 100px;">
                <img [defaultImage]="defaultImage" [lazyLoad]="item.thumb" alt="No image" style="width:100%;" (click)="onSelect(i)" />
            </div>
        </div>
    </div>
</section>