<section class="home-about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="{{eventContent.image}}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <header class="section-header">
                    <h1>
                        {{eventContent.title}}
                    </h1>
                </header>
                <p>
                    {{eventContent.content}}
                </p>
            </div>
        </div>
    </div>
</section>