#welcomesection {
    height: 100vh;
}
.row {
    margin: auto;
    float: left;
}
.row, .info-content-child {
    display: block;
}
#info {
    margin: auto;
    float: left;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 990;
}

#slider { 
    float: right;
    z-index: -10;
}
#info, #slider,blockquote{
    padding: 0;
}
.row, #info, #slider, .crossfade>figure{
    height: 100%;
}
.row, #info{
    float: left;
}
.row, .content-header>h2, #slider img, .image:not(.png), .crossfade>figure{
    width: 100%;
}
.row, blockquote, blockquote footer, .info_content, .info-content-child {
    position: relative;
}
blockquote p:first-of-type:before, blockquote p:last-of-type:after, blockquote footer:before, .crossfade>figure, #slider img{
    position: absolute;
}

.info_content, .info-content-child{
    margin: 0 auto;
}
blockquote {
    font-size: 24px;
    font-family: 'Lora', serif;
    font-style: italic;
    margin: 10px;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}
.crossfade>figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    left: 0px;
    opacity: 0;
    top: 0px;
    z-index: -10;
}

.crossfade>figure:nth-child(1) {
    background-image: linear-gradient(90deg, rgba(234, 234, 234, 1) 0%, rgba(234, 234, 234, 0) 40%), url('src/assets/images/1.jpg');
}

.crossfade>figure:nth-child(2) {
    animation-delay: 6s;
    background-image: linear-gradient(90deg, rgba(234, 234, 234, 1) 0%, rgba(234, 234, 234, 0) 40%), url('src/assets/images/2.jpg');
}

.crossfade>figure:nth-child(3) {
    animation-delay: 12s;
    background-image: linear-gradient(90deg, rgba(234, 234, 234, 1) 0%, rgba(234, 234, 234, 0) 40%), url('src/assets/images/3.jpg');
}

.crossfade>figure:nth-child(4) {
    animation-delay: 18s;
    background-image: linear-gradient(90deg, rgba(234, 234, 234, 1) 0%, rgba(234, 234, 234, 0) 40%), url('src/assets/images/4.jpg');
}

.crossfade>figure:nth-child(5) {
    animation-delay: 24s;
    background-image: linear-gradient(90deg, rgba(234, 234, 234, 1) 0%, rgba(234, 234, 234, 0) 40%), url('src/assets/images/2.jpg');
}

@keyframes imageAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    8% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.info_content {
    top: 20vh;
    bottom: 2vh;
    display: inline-block;
}

.info-content-child {
    width: 80%;
    margin-top: 10px;
}
.additional img {
    width: 60%;
    top: 15%;
    left: 25%;
}

.image:not(.png) {
    height: auto;
    margin: 10px;
}
#slider img {
    float: left;
    clear: both;
    z-index: 1;
    position: center;
    size: cover;
}
/* MEDIA QUERY */


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {
    #info {
        max-width: 100% !important;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .content-header:after,.content-header:before {
        background-color: #ffffff;
    }
    #slider {
        max-width: 80% !important;
        position: static;
    }
    blockquote, .content-header>h2 {
        color: #ffffff;
    }
    .crossfade>figure:nth-child(1) {
        background-image: url('src/assets/images/1.jpg');
    }
    .crossfade>figure:nth-child(2) {
        animation-delay: 6s;
        background-image: url('src/assets/images/4.jpg');
    }
    .crossfade>figure:nth-child(3) {
        animation-delay: 12s;
        background-image: url('src/assets/images/3.jpg');
    }
    .crossfade>figure:nth-child(4) {
        animation-delay: 18s;
        background-image: url('src/assets/images/2.jpg');
    }
}

@media only screen and (max-width: 450px){
blockquote {
    font-size: 15px;
    }
}