<section id="welcomesection">
    <div class="row">
        <div id="info" class="col-lg-5 col-md-5 helperline-red">
            <div class="info_content helperline-red">
                <div class="logo_content ">
                    <img class="imageBlack" src="assets\images\logos\AstraLunaLogoBlack.svg">
                    <img class="imageWhite" src="assets\images\logos\AstraLunaLogoWhite.svg">
                    <p>Wałecka szkoła Tańca</p>
                </div>
                <div class="quotation">
                    <blockquote>
                        "Nie czyńmy tylko samych kroków i figur, lecz studiujmy namiętności, przyzwyczajając naszą duszę do ich odczuwania"
                        <footer>JEAN GEORGES NOVERRE <br> francuski baletmistrz i teoretyk tańca.</footer>
                    </blockquote>
                </div>
                <div class="additional helperline-green">
                    <img class="imageBlack" src="assets\images\logos\AstraGrupaBlack.svg">
                    <img class="imageWhite" src="assets\images\logos\AstraGrupaWhite.svg">
                </div>
            </div>
        </div>
        <div id="slider" class="col-lg-7 col-md-7 helperline-green">
            <div class="crossfade">
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
            </div>
        </div>
    </div>
</section>