<section id="counter-area-astra" class="alw-section" [ngClass]="{ 'front':onFront , 'alw-shadow':isShadow}">
    <div class="container" data-aos="fade-right">
        <header class="section-header">
            <h1>GRUPA ASTRA</h1>
        </header>
    </div>
    <div class="container">
        <app-spinnerloading *ngIf="showSpinner" style="margin: auto;"></app-spinnerloading>
        <div class="row" *ngIf="!showSpinner">
            <div class="col-md-4">
                <div class="counter_item text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/herbs/herb_astra_szczecin.png">
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter_item text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <img src="assets/images/herbs/herb_astra_walcz.png">
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter_item text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                    <img src="assets/images/herbs/herb_alfa_stargard.png">
                </div>
            </div>
        </div>
    </div>
</section>