<section id="offersection" class="alw-section" [ngClass]="{ 'front':onFront , 'alw-shadow':isShadow}">
    <div class="container" data-aos="fade-right">
        <header class="section-header">
            <h1>Oferty</h1>
        </header>
    </div>
    <div class="container">
        <app-spinnerloading *ngIf="showSpinner" style="margin: auto;"></app-spinnerloading>
        <div class="row" *ngIf="!showSpinner">

            <div *ngFor="let offer of offers; let i = index" class="col-md-6 col-xl-4" data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="i*100" (click)="onSelect(offer)">
                <div class="card" [style.backgroundImage]="'url('+ offer.backgroundString +')'">
                    <div class=content>
                        <div class="addinfohover">
                            <p>{{offer.tag}}</p>
                        </div>
                        <div class="container">
                            <h4><b>{{offer.head}}</b></h4>
                            <p>{{offer.shortContent}}</p>
                        </div>
                        <div class="container-info animated">
                            <h4><b>{{offer.head}}</b></h4>
                            <p>{{offer.longcontent}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>