<section id="aboutsection" class="helperline-red">
    <div class="foto helperline-red">
        <div class="foto-content helperline-red"></div>
    </div>
    <div class="content border-content">
        <div class="content-info">
            <div class="container">
                <div class="row">
                    <header class="section-header helperline-red">
                        <h3>O nas</h3>
                    </header>
                    <div class="col-lg-12">
                        Wałecka Szkoła Tańca „Astra-Luna” od 13 lat jest filią Szkoły Tańca „Astra” Szczecin. Szkoły, która posiada już 25-letnią tradycję, jest jedną z najbardziej cenionych szkół w Polsce. To z niej wywodzą się mistrzowie Polski, finaliści Mistrzostw Świata
                        w tańcu towarzyskim. Zajęcia taneczne zapoczątkował w Wałczu 14 lat temu instruktor tańca Jarosław Namaczyński pracownik „Astry”.
                    </div>
                    <div class="col-lg-12">
                        Za namową Pana Jarosława prowadzenie zajęć przejęła Pani Danuta Antosz instruktor tańca z Wałeckiego Centrum Kultury. W lutym 2003 roku nawiązała kontakt ze Szkołą Tańca „Astra” i przyjęła propozycję szefa szkoły Pana Jacka Porazika, aby w Wałczu wdrożyć
                        sprawdzony projekt zbudowania i funkcjonowania szkoły tańca cieszący się ogromnym powodzeniem w Szczecinie. Lekcje rozpoczęły się już w marcu. Po trzech miesiącach dostaliśmy zaproszenie na swój pierwszy letni obóz taneczny.
                    </div>
                    <div class="col-lg-12">
                        W styczniu 2004 roku nasza para pojechała na Ogólnopolski Turniej Tańca w Dębnie Lubuskim, gdzie sprawiając dużą niespodziankę, wygrała w swojej kategorii. Zaczęło się wówczas mówić o Wałczu. W marcu 2004 roku Wałeckiej Szkole Tańca nadano nazwę „Astra-Luna”,
                        tym samym zostaliśmy przyjęci w szeregi szczecińskiej Szkoły Tańca „Astra”. Od początku powstania Szkoła Tańca “ASTRA -LUNA” rozwija się w sposób stabilny i miarowy, co roku systematycznie obejmując swoją opieką nowe ośrodki na
                        terenie województw: zachodniopomorskiego i wielkopolskiego.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>