            h3 {
                text-align: center;
                font-family: Raleway, sans-serif;
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
                position: relative;
                color: #333;
            }
            
            .section-header {
                display: inline-block;
            }
            
            .section-header:before,
            .section-header:after {
                content: "";
                display: block;
                height: 3px;
                width: 100%;
                background-color: #121517;
                top: 0;
                left: 0;
                right: 0;
                margin: 0px auto;
                margin-top: 2px;
            }
            
            .section-header:after {
                background-color: #ff5555;
                margin: 1em auto;
                margin-top: -1.5px;
            }
            
            #galleryDetails {
                margin-top: 70px;
                padding: 1em;
                min-height: 100vh;
            }
            
            @media (max-width: 992px) {
                #galleryDetails {
                    margin-top: 16vh;
                    min-height: 88vh;
                }
                .section-header>h1 {
                    font-size: 24px;
                }
            }
            
            @media (max-width: 575px) {
                .section-header>h1 {
                    font-size: 20px;
                }
            }
            
            .grid-item {
                width: 25%;
            }
            
            .grid-item img {
                width: 100%;
            }
            
            .date_city * {
                display: inline;
            }
            
            .icon {
                margin-right: 5px;
            }
            
            h4,
            h5 {
                text-align: left;
                font-family: Raleway, sans-serif;
                font-size: 16px;
                font-weight: 900;
                text-transform: uppercase;
                position: relative;
            }
            
            h4 {
                font-size: 18px;
            }
            
            h5 {
                font-size: 14px;
            }
            
            .helperline-red {
                border: 2px solid red;
            }
            
            .event-section {
                margin-top: 70px;
                padding-top: 55px;
            }
            
            .event-section .hero-text span {
                font-size: 16px;
                color: #f44949;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            
            .event-section .hero-text {
                padding-top: 184px;
            }
            
            .set-bg {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            
            .set-bg::before {
                content: '';
                filter: grayscale(100%);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: url('http://astraluna.pl/AstraLunaAdminPage/wp-content/uploads/2020/08/Lady-Show_3.jpg');
            }
            
            .event-section .hero-text h2 {
                font-size: 60px;
                color: #fff;
                line-height: 72px;
                font-weight: 600;
                margin-top: 24px;
                margin-bottom: 35px;
            }
            
            .counter-section {
                padding: 40px 0;
            }
            
            .bg-gradient {
                background-image: linear-gradient( 120deg, #ee8425 0%, #f9488b 100%), linear-gradient( 120deg, #ee8425 0%, #f9488b 100%);
            }