.container>.contentHeader>h2 {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    color: #333;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    display: inline-block;
}

.container>.mainHeader>h1 {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    color: #333;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    display: inline-block;
}

.comments h2,
.comments p {
    color: #ff5555 !important;
}

.comments .contentHeader:before {
    background-color: #ff5555 !important;
}

.contentHeader:before,
.contentHeader:after,
.mainHeader:before,
.mainHeader:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #121517;
    width: 100%;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    margin-top: 2px;
}

.contentHeader:after,
.mainHeader:after {
    background-color: #ff5555;
    float: left;
    margin: 1em auto;
    margin-top: -1.5px;
}

#offersection {
    margin-top: 70px;
    padding: 1em;
    min-height: 100vh;
}

.container>.mainHeader,
.container>.contentHeader {
    display: inline-block;
}

.col-lg-4.col-md-6 {
    padding: 10px;
}

.col-lg-4.col-md-6 img {
    width: 100%;
}

div.container {
    margin-top: 1rem;
}

table {
    margin-top: 1em;
    border-collapse: collapse;
    border-style: 3px solid black;
    border-spacing: 10px !important;
    border-color: red !important;
}

th[scope=col] {
    background-color: #ff5555;
    color: #FFF;
    text-align: center;
}

td,
th {
    font-size: 15px;
    font-weight: 400;
    color: #666;
    color: #515A5F;
    line-height: 25px;
    text-align: center;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: #666;
    color: #515A5F;
    line-height: 25px;
    white-space: pre-line;
}

th {
    background-color: #eaeaea;
}

th:first-child,
td:first-child {
    position: sticky;
    left: 0px;
}