<div *ngFor="let trainer of trainers; let i = index" class="about-area top">
    <ng-container [ngTemplateOutlet]="changeOdd ?evenBlock:oddBlock" [ngTemplateOutletContext]=" {trainer:trainer}"></ng-container>
    <ng-template #evenBlock let-trainer='trainer'>
        <div class="container">
            <div class="row ">
                <div class="col-lg-4">
                    <div class="rellax  about-img " data-rellax-speed="7">
                        <img src="{{trainer.bigbackgroundString}} " max-width="400 ">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 ">
                    <div class="rellax about-text ">
                        <h2>{{trainer.fullname}}</h2>
                        {{trainer.content}}
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #oddBlock>
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 offset-lg-1 ">
                    <div class="about-text ">
                        <h2>{{trainer.fullname}}</h2>
                        {{trainer.content}}
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="about-img ">
                        <img src="{{trainer.bigbackgroundString}} " max-width="400 ">
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>