    .about-area {
        min-height: 90vh;
        position: relative;
        background: #f0eff0;
    }
    
    .about-area:first-child {
        margin-top: 70px;
        top: 0vh
    }
    
    .about-img img {
        width: 25vh;
        height: auto;
        border-radius: 50%;
    }
    
    .content {
        top: 2vh;
        left: 2vh;
        right: 2vh;
        bottom: 2vh;
        margin: 0 auto;
        position: relative;
    }
    
    .content-text {
        position: relative;
        max-height: 50vh;
        margin: 0;
        padding: 0;
    }
    
    .about-text h2 {
        text-align: center;
        font-family: Raleway, sans-serif;
        font-size: 6vh;
        font-weight: 900;
        text-transform: uppercase;
        color: #333;
        display: table;
    }
    
    .about-text h2:before,
    .about-text h2:after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: #121517;
        top: 0;
        left: 0;
        right: 0;
        margin: 0px auto;
        margin-top: 2px;
    }
    
    .about-text h2:after {
        width: 100%;
        background-color: #ff5555;
        margin-top: -1.5px;
    }
    
    .row {
        padding: 1rem;
    }
    
    .row .align-items-center {
        padding-top: 2.5rem;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .rowfoto {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
    /* Create two equal columns that sits next to each other */
    
    .column {
        flex: 33.3%;
        padding: 0 4px;
    }
    
    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }
    
    .top {
        box-shadow: inset 0px 0px 60px -11px #888, inset 0px 0px 60px -11px #888;
    }
    
    @media only screen and (max-width: 768px) {
        .column {
            flex: 50%;
        }
        .content-text {
            padding: .1rem;
        }
        .content-text {
            position: relative;
            margin: .1rem;
        }
        .row .align-items-center {
            padding: 0;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .column {
            flex: 100%;
        }
        .about-text h2 {
            font-size: 5vh;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .about-text h2 {
            font-size: 4vh;
        }
    }
    
    @media only screen and (max-width: 992px) {
        .col-lg-9 {
            padding-left: 0;
            padding-right: 0;
            margin: 0;
        }
        .about-area {
            min-height: 100vh;
        }
    }