<app-welcome></app-welcome>
<app-offer [numbersOfOffers]="6" [isShadow]="true">LOADING</app-offer>
<app-counter></app-counter>
<app-aboutus></app-aboutus>
<app-team-small></app-team-small>
<section id="counter-area-astra" class="top-box bottom-box" data-stellar-background-ratio="0.5">
    <div class="container">
        <header class="about-content-astra" style="text-align: center">
            <h2>GRUPA ASTRA</h2>
        </header>
        <div class="row">
            <div class="col-md-3">
                <div class="counter_item text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/herb_astra_szczecin.png">
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter_item text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <img src="assets/images/herb_astra_szczecin.png">
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter_item text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                    <img src="assets/images/herb_astra_szczecin.png">
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter_item text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    <img src="assets/images/herb_astra_szczecin.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="reviews">
    <div class="container">
        <header class="section-header">
            <h3>Testimonials</h3>
        </header>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonials-carousel wow fadeInUp">
                    <div class="testimonial-item">
                        <img src="https://placeimg.com/400/400/any" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        </p>
                    </div>
                    <div class="testimonial-item">
                        <img src="https://placeimg.com/400/400/any" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        </p>
                    </div>
                    <div class="testimonial-item">
                        <img src="https://placeimg.com/400/400/any" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        </p>
                    </div>
                    <div class="testimonial-item">
                        <img src="https://placeimg.com/400/400/any" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>