<section id="counter-area" class="top-box bottom-box" data-stellar-background-ratio="1.5">
    <div class="container rellax">
        <header class="section-header helperline-red">
            <h3>Osiągnięcia</h3>
        </header>
        <div class="row">
            <div class="col-md-4">
                <div class="counter_item text-center" data-aos="fade-up" data-aos-duration="500">
                    <span class="counter counter1">500</span>
                    <p class="counter_text">Tancerze</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter_item text-center" data-aos="fade-up" data-aos-duration="500">
                    <span class="counter counter2">16</span>
                    <p class="counter_text">Miasta</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter_item text-center" data-aos="fade-up" data-aos-duration="500">
                    <span class="counter counter3">500</span>
                    <p class="counter_text">Zdobyte Medale</p>
                </div>
            </div>
        </div>
    </div>
</section>